body {
	padding-top: 50px;
}
footer {
	padding: 30px 0;
}
body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 {
	font-family: Microsoft YaHei, Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}

@media (min-width: 1200px) {
  .container {
    width: 1100px;
  }
}

.media-object, .thumbnail {
	width:140px;
	height:auto;
}
.media-heading {
	font-size: 20px
}