body{
	color: #00FF00;
	font-family: MicrosoftYaHei,Arial,Tahoma,Helvetica,Georgia,Sans-serif,Hei,SimSun;
	font-size: 1em;
	background: #000000;
	margin: auto;
	max-width: 60em;
}
a:link {color: #0000FF;}
a:visited {color: #0000FF;}
a:hover {color: #FF00FF;}
a:active {color: #00EEEE;}
#header{
	text-align: center;
}
#content{
	text-align: center;
}
#navfirst{
	text-align: center;
}
#navfirst ul{
	list-style: none;
}
#navfirst ul li{
	display: inline-block;
}
#navfirst ul li a{
	text-decoration: none;
	font-size: 1.25em;
	padding-right: 1.25em;
}
#maincontent{
	text-align: center;
	margin-top: 2.5em;
}
#footer{
	color: #000000;
	font-size: 0.8em;
}